
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #1a1a1a, #050505);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título principal */
h1 {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Card */
#buscar {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Subtítulo */
#buscar h2 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #222;
}

.hint {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}


/* Inputs */
#userId {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
}


#userId:focus {
    border-color: #000;
}

/* Botão */
#buscarbtn {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#buscarbtn:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Resultado */
#listar-usuarios {
    margin-top: 25px;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

/* Mensagem de erro ou aviso */
#mensagem {
    margin-top: 15px;
    color: red;
    font-weight: 500;
}
/*Footer*/
footer {
    margin-top: auto;
    padding: 20px;
    color: #777;
    font-size: 13px;
    text-align: center;
}
